.hoverbutton:hover{
    -fx-opacity:0.5;
}

#root > *{
    -fx-background-color:#ddd;
}

.progressbar > .track{
    -fx-control-inner-background:#ccc;
    -fx-background-radius:1;
    -fx-background-insets:4 0 4 0;
}

.progressbar > .bar{
    -fx-accent:#888;
    -fx-background-radius:1;
    -fx-background-insets:4 0 4 0;
}